body {
    background: #88Dff3; /* red */
    font-family: Helvetica;
}

#container {
    width: 800px;
    height: 600px;
    margin: auto;
    margin-top: 100px;
    background: white;
}

#navbar {
    height: 50px;
    background: #e74c3c;
}

#content {
    width: 100%;
    height: 550px; /* TODO: make more fluid and take up all space below navbar */
}

#sidebar {
    float: left;
    width: 200px;
    height: 100%;
    background: white;
    border-right: 10px solid #e74c3c; /* red */
}

#previews {
    float: left;
    width: 590px;
    height: 100%;
    background: linear-gradient(#fff, rgba(231, 76, 80, 0.5)); /* light red gradient */
}

#sentences {
    height: 350px;
    overflow-y: scroll;
}

/* STORY PREVIEW BOXES START */
.story-preview {
    margin: 10px;
    padding: 10px;
    background: white;
    border: 1px solid #521A14; /* very dark red */
    border-radius: 2px;
    font-size: 20px;
}
.story-preview h1 {
    text-align: center;
}
.story-preview p {
    text-align: center;
}
.story-preview p:before, .story-preview p:after {
    content: "\"";
}
.story-preview span {
    color: #8E2E24; /* dark red */
    font-size: 12px;
}
.story-preview span:first-child {
    float: left;
}
.story-preview span:last-child {
    float: right;
}
/* STORY PREVIEW BOXES END */



/* INPUT BOX STUFF START */
textarea {
    resize: none;
}
/* INPUT BOX STUFF END */
