
#book-list {
    width: 100%;
    height: 400px;
}


.story-preview {
    position: relative;
    margin: 10px;
    padding: 10px 30px;
    max-height: 100px;
    background: white;
    border: 4px solid #ccc;
    border-radius: 3px;
}
.story-preview h2 {
    text-align: center;
}






#reading-container {
    max-width: 800px;
    margin: auto;
}
#sentences {
    height: 500px;
    overflow-y: scroll;
}

#sentence-submission {
    background-color: white;
    padding: 10px;
}
#sentence-display {
    text-align: right;
}

/* STORY SENTENCES BOXES START */
.fragment {
    position: relative;
    margin: 10px;
    padding: 20px 30px;
    min-height: 100px;
    border-left: 4px solid #e74c3c;
    background: #eee;
    /*border: 4px solid #ccc; /* very dark red */
    border-radius: 2px;
    font-size: 20px;
}
.fragment p {
}

.fragment span {
    display: block;
    position: absolute;
    color: #8E2E24; /* dark red */
    font-size: 12px;

    right: 10px;
    bottom: 5px;
}
/* STORY SENTENCES BOXES END */



/* INPUT BOX STUFF START */
textarea {
    resize: none;
}
/* INPUT BOX STUFF END */
